.main-nav__logo {
  @extend %logo;

  color: $logo-header-color;
}

.logo-accent {
  color: $accent-color;
}

.footer__logo {
  @extend %logo;
  
  display: inline-block;
  padding-bottom: 20px;

  color: $logo-footer-color;
}