$main-text-color: #212121;
$accent-color: #2196f3;
$secondary-text-color: #757575;
$white-color: #ffffff;
$secondary-white-color: rgb(255, 255, 255, 0.6);
$footer-bgc: #2f303a;
$secondary-bgc: #f5f4fa;
$social-link-color: #afb1b8;

$logo-header-color: #000000;
$logo-footer-color: $white-color;

$main-font: "Roboto", sans-serif;

